<div id="lista-cardapio">
    <!-- TODO style this! -->
    <!-- TODO category grouping -->
    <mat-accordion multi *ngIf="items != []">
        <div *ngFor="let item of items">
            <app-item-cardapio [item]="item" ></app-item-cardapio>
        </div>
        
    </mat-accordion>
    <div *ngIf="items.length == 0" [ngStyle]="{'flex': 1, 'justify-content': 'align-center', 'flex-direction': 'row'}">
        <p>Não há itens a serem exibidos!</p>
        <p>Tente inserir algum :)</p>
    </div>
</div>