<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-right: 1%">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="margin-right: .5%">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div id="main">

  <mat-card>
    <mat-card-title-group>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
    </mat-card-title-group>
    
  </mat-card>

  <!-- <button (click)="firebase_test()">Teste Firebase</button> -->

</div>

<router-outlet></router-outlet>
